/***************
  BASIC STYLES
***************/
. {
  box-sizing: border-box;
}

html  {
  background-color: #e9e9f3;
}

h1  {
  margin-bottom: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8em;
  text-align: center;
}

.miniHead {
  padding:10px 0;
  font-size:.9em;
  color:white;
  background-color:#404196;
  border-radius:5px;
}
/**************************
  NEXT/RESET BUTTON STYLES
**************************/
.nextBtn,
.resetBtn {
  position: absolute;
  bottom: 15px;
  width: 95%;
  padding: 3px 0;
  font-size:1.5em;
  text-align: center;
  color: white;
  background-color: #404196;
  border: 2px solid #9595c5;
  border-radius: 5px;
}
/*******************
  SCORE BOARD STYLES
*******************/
.score,
.player1,
.player2  {
  float:left;
  margin-top: 5px;
  color: #2b5c8b;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.score,
.player1  {
  margin-right: 20px;
}

.score  {
  margin-left: 10%;
}
/*******************
  MAINBOARD STYLES
*******************/
.mainBoard  {
  position: absolute;
  bottom: 200px;
  width:85%;
  margin-left: 5%;
}
/*******************
  QUESTION STYLES
*******************/
h2  {
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  color: #8b2b2c;
  text-align: center;
  clear: both;
}
/*******************
  CHOICE STYLES
*******************/
.options {
  position: absolute;
  bottom: 65px;
  width: 95%;
}

.choice {
  /*height: 28px;*/
  margin-top: 3px;
  padding: 3px 0;
  text-align: center;
  font-size: 1.5em;
  background-color: #aaaad0;
  border: 2px solid #7f80b9;
  border-radius: 5px;
}

.choice:hover {
  color: white;
  background-color:#404196;
}
/*******************
  ANSWER STYLES
*******************/
.answer {
  position: absolute;
  bottom: 65px;
  height: 200px;
  width: 95%;
  font-size: 2em;
  color: black;
  text-align: center;
}
/*******************
  MEDIA QUERIES
*******************/
@media (min-width: 480px) and (max-width: 767px)  {
  .miniHead {
    font-size: 1.1em;
  }
  /*******************
    NEXT/RESET BUTTON STYLES
  *******************/
  .nextBtn,
  .resetBtn {
    bottom: 17px;
    width: 97%;
  }
  /*******************
    SCORE BOARD STYLES
  *******************/
  .score,
  .player1,
  .player2  {
    font-size: 1.1em;
  }

  .score  {
    margin-left: 30%;
  }
  /*******************
    MAINBOARD STYLES
  *******************/
  .mainBoard  {
    top: 60px;
    margin-left: 5%;
  }
  /*******************
    CHOICE STYLES
  *******************/
  .options  {
    bottom: 60px;
  }
  .choice {
    float: left;
    width: 45%;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 1.3em;
  }
  /*******************
    QUESTION STYLES
  *******************/
  h2  {
    font-size: 1.3em;
  }
  /*******************
    ANSWER STYLES
  *******************/
  .answer {
    /*width: 91%;*/
    height: 100px;
    font-size: 1.5em;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .miniHead  {
    font-size:1.8em;
  }
  /**************************
    NEXT/RESET BUTTON STYLES
  **************************/
  .nextBtn,
  .resetBtn {
    width: 97%;
    padding: 7px 0;
    font-size:2.1em;
  }
  /*******************
    SCORE BOARD STYLES
  *******************/
  .score,
  .player1,
  .player2  {
    margin-top: 5px;
    font-size: 2em;
  }

  .score  {
    margin-left: 17%;
    margin-bottom: 70px;
  }
  /*******************
    MAINBOARD STYLES
  *******************/
  .mainBoard  {
    bottom: 500px;
    margin-left: 5%;
  }
  /*******************
    QUESTION STYLES
  *******************/
  h2  {
    width: 95%;
    margin-left: 5%;
    font-size: 2.5em;
    clear: both;
  }
  /*******************
    CHOICE STYLES
  *******************/
  .options {
    bottom: 90px;
    width: 97%;
  }

  .choice {
    height: 50px;
    margin-top: 8px;
    font-size: 2.5em;
  }
  /*******************
    ANSWER STYLES
  *******************/
  .answer {
    bottom: 30px;
    height: 350px;
    font-size: 2.5em;
  }
}

@media (min-width: 1024px)  {
  .miniHead {
    font-size:2em;
  }
  /**************************
    NEXT/RESET BUTTON STYLES
  **************************/
  .nextBtn,
  .resetBtn {
    bottom: 50px;
    width: 50%;
    margin-left: 25%;
    padding: 10px 0;
    font-size: 2em;
  }
  /*******************
    SCORE BOARD STYLES
  *******************/
  .score,
  .player1,
  .player2  {
    margin-top: 5px;
    margin-left: 15%;
    font-size: 2em;

  }
  /*******************
    QUESTION STYLES
  *******************/
  h2  {
    width: 90%;
    margin-left: 5%;
    font-size: 2.5em;
  }
  /*******************
    CHOICE STYLES
  *******************/
  .options  {
    bottom: 150px;
    margin-left:5%;
  }
  .choice {
    float: left;
    width: 45%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px 0;
    font-size: 2em;
  }
  /*******************
    ANSWER STYLES
  *******************/
  .answer {
    bottom: 150px;
    width: 90%;
    margin-left: 5%;
    font-size: 2.5em;
  }
}
