/***************
  BASIC STYLES
***************/
. {
  box-sizing: border-box;
}

html  {
  background-color: #e9e9f3;
}

h1  {
  margin-bottom: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8em;
  text-align: center;
}
/*******************
  NEXT/RESET BUTTON STYLES
*******************/
.nextBtn,
.resetBtn {
  position: absolute;
  bottom: 15px;
  width: 95%;
  padding: 3px 0;
  font-size:1.5em;
  text-align: center;
  color: white;
  background-color: #404196;
  border: 2px solid #9595c5;
  border-radius: 5px;
}

/*******************
  SCORE BOARD STYLES
*******************/
.scoreDisplay {
  /*display: inline;*/
  margin: 0 auto;
  text-align: center;
}

.score,
.player1,
.player2  {
  float:left;
  margin-top: 5px;
  color: #2b5c8b;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.score,
.player1  {
  margin-right: 20px;
}

.score  {
  margin-left: 10%;
}

/*******************
  MAINBOARD STYLES
*******************/

.mainBoard  {
  position: absolute;
  bottom: 200px;
}


/*******************
  QUESTION STYLES
*******************/
h2  {
  margin-top: 30px;
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  color: #8b2b2c;
  text-align: center;
  clear: both;
}

/*******************
  CHOICE STYLES
*******************/
.options {
  position: absolute;
  bottom: 65px;
  width: 95%;
}

.choice {
  height: 28px;
  width: 100%;
  margin-top: 3px;
  padding: 3px 0;
  text-align: center;
  font-size: 1.5em;
  background-color: #aaaad0;
  border: 2px solid #7f80b9;
  border-radius: 5px;
}

.choice:hover {
  color: white;
  background-color:#404196;
}

/*******************
  ANSWER STYLES
*******************/
.answer {
  position: absolute;
  bottom: 65px;
  height: 200px;
  width: 95%;
  font-size: 2em;
  color: #8b2b2c;
  text-align: center;
}

/*******************
  MEDIA QUERIES
*******************/
/*
@media (min-width: 480px) and (max-width: 767px)

@media (min-width: 768px) and (max-width: 1023px)

@media (min-width: 1024px)*/
